@import 'tailwindcss';

@import "tailwindcss";

@keyframes skillsMove {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-skills {
  animation: skillsMove 5s ease-in-out infinite;
}